<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Metric city</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./normalize.css" />
    <link rel="stylesheet" href="./App.css" />
  </head>
  <body>
    <metric-app />
  </body>
</html>
